BODY {
    margin-left:   2em;
    margin-bottom: 2em;
}
HR {
    margin-top:    1em;
    margin-bottom: 1em;
}

#form-filters {
    float:         right;
    text-align:    right;
    margin-right:  2em;
}

.container {
    margin-left:   0;
    margin-right:  0;
    padding-left:  0;
    padding-right: 0;
}
.row {
    padding-left:  15px;
}
.label {
    display: inline-block;
}
.indextags {
    font-size: 1.5em;
}

.card-lg {
    display: none;
    float:   left;
    width:   315px;
    height:  530px;
    margin:  10px;
}
.card-sm {
    display: inline-block;
    float:   left;
    width:   225px;
    height:  420px;
    margin:  7px;
}
.cardname {
    font-weight: bold;
}
.tag-main          { background-color: #000; }
.tag-coloridentity     { background-color: #cdab64; }
.tag-coloridentitytrue { background-color: #cdab64; }
.tag-manapool      { background-color: #337ab7; }
.tag-supertypes    { background-color: #5cb85c; }
.tag-subtypes      { background-color: #5bc0de; }
.tag-restricted    { background-color: #f0ad4e; }
.tag-banned        { background-color: #d9534f; }
.tag-other         { background-color: #777; }

.disclaimer {
    font-size: 0.75em;
    color:     #aaa;
}

@media (min-width: 1240px) {
    .container {
        width: 1190px;
    }
}
@media (min-width: 1720px) {
    .container {
        width: 1690px;
    }
    DIV.card-lg {
        display: inline-block;
    }
    DIV.card-sm {
        display: none;
    }
}

